{% extends 'base.html' %}

{% block content%}
    {% for post in posts %}
    <div class="post">
        <p>publised: {{ post.published_date }}</p>
        <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
    {% endfor %}
{% endblock %}
